h1 {
	text-align: center;
}

#post, #result {
	width: 75%;
	text-align: center;
	display: block;
	margin: 20px auto;
}

#result{
	background-color: #5DADE2;
	padding: 20px;
	display: none;
}

span{
	color: #FFF;
}